@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Raleway:wght@300;400;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 1010px;
  margin: 0 auto;
}

.crumbs {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.6em;
  letter-spacing: 0.7px;
  color: #1C1D1F;
  margin: 32px 0 8px 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 0.4px;
  color: #1C1D1F;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #1C1D1F;
  margin: 0 0 40px;
}

.content {
  &-container {
    display: flex;
    width: 100%;
  }

  &-tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0 0 32px;

    &__tab {
      display: flex;
      align-items: center;
      padding: 4px 12px;
      background: #F3F6F9;
      border-radius: 8px;
      height: 40px;
      margin: 0 8px 8px 0;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      &:last-child {
        margin: 0 0 8px 0;
      }

      span {
        color: #83868A;
      }
    }
  }
}



.sidebar {
  width: 280px;
  height: 100%;
}
