@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Raleway:wght@300;400;600;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  //font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

body, html {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.layout {
  padding: 20px 16px;
}

.wrapper {
  max-width: 1010px;
  margin: 0 auto;
}

.crumbs {
  display: none;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 0.4px;
  color: #1C1D1F;
}



.content {
  &-container {
    display: flex;
    width: 100%;
  }

  &-tabs {
    list-style: none;
    display: flex;
    flex-wrap: nowrap; //wrap
    width: 100%;
    padding: 0;
    margin: 0 0 24px; // 0 0 32

    &__tab {
      display: flex;
      align-items: center;
      padding: 4px 12px;
      background: #F3F6F9;
      border-radius: 8px;
      height: 40px;
      margin: 0 8px 8px 0;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      flex-shrink: 0;
      &:last-child {
        margin: 0 0 8px 0;
      }

      span {
        color: #83868A;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .layout {
    padding: 16px 0;
  }

  .wrapper {
    margin: 0 56px;
  }

  .crumbs {
    display: flex;
    font-size: 18px;
    line-height: 1.78em;
    margin: 0 0 24px 0;
  }
}

